.mynav{
	/*background-color: rgb(212, 236, 221);*/
	background-color: #313638;
}


body{
	/*background-color: rgb(52, 91, 99);*/
	background-color: #F09D51;
}

#i1{
	color: #E0DFD5;
}

#i2{
	color: #E0DFD5;
}

#i3{
	color: #E0DFD5;
}

#i4{
	color: #E0DFD5;
}

#i5{
	color: #E0DFD5;
}

#i6{
	color: #E0DFD5;
}